.App {
  text-align: center;
  background-color: rgba(0, 255, 255, 0.26);
}
.big{
  font-size: 60px;
  letter-spacing: 20px;
  
 
}

body{
  background-color: aqua;
}
.suma{
  font-size: 40px;
  border-radius: 20px;
  border-bottom: rgba(0, 255, 255, 0.26);
  padding: auto;;
}
.resta{
  font-size: 40px;
  border-radius: 20px;
  border-bottom: rgba(0, 255, 255, 0.26);
  padding: auto;;
}
.reinicio{
  font-size: 40px;
  border-radius: 20px;
  border-bottom: rgba(0, 255, 255, 0.26);
  padding: auto;;
}
.click{
  font-size: 60px;
}